@using Buffet.ViewModel.Home
@model Buffet.ViewModel.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Model.InformacaoQualquer
@Model.Titulo

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_DadosUsuario" for="usuarioLogado"></partial>

<ul>
        @foreach(var clientes in @Model.Clientes){
        <li>O CLiente @clientes.nome possui o @clientes.id</li>
        }
</ul>
    
<environment names="Produção">
    Exibe informação em produção
</environment>


<environment names="Desenvolvimento">
    Exibe informação em desenvolvimento
</environment>


@section InformacaoDeRodape{
    <p>
        Páginas de Boas Vindas
    </p>

}

@section Scripts{
    <script src="~/js/home-index.js" asp-append-version="true"></script>
}